#footer
{
    padding: 30px;
    // padding-left: 90px;
    // padding-right: 90px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.icons {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    a{
        color: #f6931f;;
    }
}
