// #welcome
// {

//     .book_btn
//     {
//         height: 30px;
//     }

//     .houses_div
//     {
//         margin-bottom: 60px;
//     }

//     .house_card_img img
//     {
//         padding: 0px;
//         margin: 0px;
//         width: 100%;
//         height: 100%;
//         border-radius: 10px 0px 0px 10px;
//         height: 300px;
//     }

//     .house_card
//     {
//         border: 1px solid lightgrey;
//         border-radius: 10px;
//         margin-top: 20px;
//         margin-bottom: 20px;
//     }

//     .house_card:hover
//     {

//     }

//     .house_card_img
//     {
//         border: none!important;
//         margin: 0px;
//         padding: 0px;
//     }

//     .house_card_info
//     {

//         margin: 0;
//         padding: 40px;
//         padding-bottom: 0px;
//         padding-top: 20px;
//         font-family: 'Nunito', sans-serif;
//     }

//     .house_card_main
//     {
//         padding: 0px;
//         padding-right: 10px;
//         margin-top: 20px;

//     }

//     .house_title_info
//     {
//         color: #ffb900;
//         font-weight: bold;
//     }

//     .house_list_info
//     {
//         padding-left: 20px;
//     }

//     .house_list_info li
//     {
//         list-style-type: square;
//     }

//     .card_div
//     {
//         padding-right: 0px;
//         height: 100%;
//     }

//     .card_div.card
//     {
//         width: 100%;

//     }

//     .details_btn
//     {
//         height: 35px;
//     }

//     .card
//     {
//         height: 100%;
//         margin-top: 80px;
//     }

//     .card-body
//     {
//         padding-left: 50px;
//     }

// }

#pagination
{
    margin: 100px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_show
{
    i {
        vertical-align: bottom;
    }
}
