// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//JQuery UI
// @import 'jquery-ui';
// @import 'jquery-ui.structure';
@import '~jquery-ui/themes/base/all.css';

@import 'footer';

@import 'home';

.ui-slider-range {
    background: #ffcc00 !important;
}

.ui-slider {
    background: #ffcc00 !important;
}

.cookie-consent {
    padding: 1rem;
    button {
        margin-left: 20px;
    }
}
